.catalog {
	margin-top: 40px;
	&__items {
		grid-template-columns: repeat(5, 1fr);
		gap: 30px 10px;
		@apply grid;
		&__article {
			max-width: 350px;
		}
	}
	&__filters {
		@apply flex justify-between items-center mb-10 gap-2;
		&__title {
			@apply flex gap-2 items-center;
		}
	}
	&__sorting {
		@apply flex justify-between items-center;
	}
}

@media (max-width: 1440px) {
	.catalog {
		&__items {
			grid-template-columns: repeat(4, 1fr);
			gap: 30px 10px;
			@apply grid;
		}
	}
}

@media (max-width: 980px) {
	.catalog {
		&__items {
			grid-template-columns: repeat(3, 1fr);
			gap: 30px 10px;
			@apply grid;
			&__article {
				max-width: 300px;
				&__name {
					font-size: 20px;
				}
			}
		}
	}
}
@media (max-width: 650px) {
	.catalog {
		&__items {
			grid-template-columns: repeat(2, 1fr);
			gap: 20px 10px;
			@apply grid;
			&__article {
				width: 100%;
				height: auto;
				&__name {
					font-size: 15px;
				}
				&__price {
					font-size: 15px;
				}
			}
		}
		&__filters {
			@apply flex justify-between items-center mb-10;
			&__title {
				@apply hidden;
			}
		}
	}
}
