.footer {
	margin-top: 100px;
	background-color: #c2c7da;

	&__container {
		display: flex;
		max-width: 1520px;
		margin: 0 auto;
		justify-content: space-between;
		flex-direction: column;
		padding: 25px 50px 50px;
	}
	&__top {
		display: flex;
		gap: 80px;
		padding-bottom: 65px;
	}

	&__bot {
		display: flex;
		justify-content: space-between;

		@apply items-end;
		align-items: flex-end;
		&__left {
			text-start: end;
			&__text {
				opacity: 0.3;
				font-size: clamp(0.75rem, 0.636rem + 0.303vw, 1rem);
				font-weight: 500;
				text-transform: uppercase;
				text-wrap: nowrap;
			}
		}
		&__right {
			text-wrap: balance;
			text-align: right;
			font-size: 120px;
			font-style: normal;
			letter-spacing: -12px;
			text-transform: uppercase;
			opacity: 0.1;
			line-height: normal;
		}
	}
}

@media (max-width: 1440px) {
	.footer {
		&__top {
			@apply flex flex-wrap;
		}
	}
}
@media screen and (max-width: 1280px) {
	.footer {
		margin-top: 40px;
		&__container {
			display: flex;
			padding: 20px;
		}

		&__top {
			gap: 30px;
			padding-bottom: 40px;
		}
		&__bot {
			&__left {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-direction: row-reverse;
				&__text {
					font-size: 14px;
				}
			}
			&__right {
				display: none;
			}
		}
	}
}

@media (max-width: 576px) {
	.footer {
		&__top {
			@apply grid-cols-2 grid;
		}
	}
}