.footer__column {
	display: flex;
	flex-direction: column;
	gap: 20px;
	&__title {
		font-size: clamp(0.875rem, 0.725rem + 0.75vw, 1.625rem);
		font-weight: 500;
		line-height: normal;
		text-transform: uppercase;
	}
	&__content {
		display: flex;
		flex-direction: column;

		gap: 15px;
		&__text {
			font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
			font-weight: 500;
			line-height: normal;

			opacity: 0.5;
		}
	}
}

 