.header {
	height: 80px;

	@apply shadow-md py-[30px];
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__left {
		display: flex;
		gap: 15px;
	}
	&__right {
		display: flex;
		gap: 15px;
	}
}

.menu {
	color: white;
	position: fixed;
	width: 100vw;
	height: 100dvh;
	top: 50px;
	left: 0;
	z-index: 20;
	transform: translateX(-130%);
	transition: 0.4s ease-in;
	&__active {
		transform: translateX(0);
	}

	&__content {
		width: 100%;
		height: calc(100% - 100px);
		background: rgba(0, 0, 0, 0.9);
		transition: 0.4s ease-in;
	}
	&__text {
		@apply flex flex-col gap-5 text-xl pt-20 pl-4;
	}
	&__footer {
		@apply h-[50px] bg-black mt-auto block flex-1 content-end;
	}
}

@media (max-width: 1024px) {
	.header {
		@apply h-[50px] py-4;
	}
}
@media (max-width: (768px)) {
	.menu__content {
		@apply w-full;
	}
}
