.hero {
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	min-height: 100svh;
	background-image: url('../images/lookbook/bgtest.jpg');
	color: white;
	&__title {
		font-size: clamp(1.625rem, 3.557rem + 3.995vw, 4.063rem);
	}
	&__description {
		font-size: clamp(1.625rem, 1.557rem + 2.995vw, 4.063rem);
	}
}

.fashion {
	margin-top: 100px;
	&__title {
		margin: 0 auto;
		font-size: clamp(0.75rem, 0.52rem + 0.98vw, 1.5rem);
		max-width: 800px;
	}
	&__top {
		padding-top: 100px;
		display: flex;
		justify-content: center;
		gap: 70px;
	}
	&__bottom {
		padding-top: 100px;
	}
}
@media (max-width: (1440px)) {
	.fashion {
		margin-top: 50px;
		&__top {
			padding-top: 50px;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: minmax(300px, auto);
			grid-gap: 20px;
		}
	}
}

@media (max-width: (768px)) {
	.fashion {
		margin-top: 50px;
		&__bottom {
			padding-top: 50px;
		}
	}
}
