.oneProduct {
	padding-top: 43px;
	&__wrapper {
		display: flex;

		gap: 30px;
		justify-content: center;
		@apply px-5;
	}

	&__images {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;
	}
	&__right {
		display: flex;
		flex-direction: column;
		gap: 70px;
	}
	&__title {
		font-size: 26px;
		font-weight: bold;
	}
	&__price {
		font-size: 26px;
		@apply mt-[10px];
	}
}
.shadow {
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1024px) {
	.oneProduct {
		&__wrapper {
			@apply px-5;
		}
		&__images {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 10px;
		}
	}
}
@media (max-width: 776px) {
	.oneProduct {
		padding-top: 0;
		&__wrapper {
			@apply flex flex-col p-0;
		}
	}
}
@media (max-width: 576px) {
	.oneProduct {
		padding-top: 0;
		&__description {
			width: 340px;
		}

		&__wrapper {
			@apply flex flex-col px-0;
		}
		&__right {
			display: flex;
			flex-direction: column;
			padding: 0 10px;
		}
	}
}
