@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;
		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;
		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;
		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;
		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--ring: 0 0% 3.9%;
		--radius: 0.75rem;
	}

	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;
		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;
		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;
		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--ring: 0 0% 83.1%;
	}
}

@font-face {
	font-family: 'Cruinn', sans-serif;
	src:
		url('../shared/fonts/Cruinn_Bold.woff2') format('woff2'),
		url('../shared/fonts/Cruinn_Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Cruinn';
	src:
		url('../shared/fonts/Cruinn_Medium.woff2') format('woff2'),
		url('../shared/fonts/Cruinn_Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
html,
body {
	font-family: 'Cruin', sans-serif;
	font-weight: 500;
	min-height: 100%;
}

.wrapper {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
}
.main {
	flex-grow: 1;
}

.container {
	max-width: 100%;
	padding: 0 40px;
	margin: 0 auto;
}

.swiper-button-prev,
.swiper-button-next {
	color: white !important;
}

@media (max-width: 850px) {
	.container {
		max-width: 100%;
		padding: 0 15px;
		margin: 0 auto;
	}
}
@media (max-width: 768px) {
	.swiper-button-next::after,
	.swiper-button-prev::after {
		font-size: 22px !important;
	}
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
	.swiper-pagination-bullet {
	color: white !important;
}
