@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Cruinn', sans-serif;
	src:
		url('../shared/fonts/Cruinn_Bold.woff2') format('woff2'),
		url('../shared/fonts/Cruinn_Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Cruinn';
	src:
		url('../shared/fonts/Cruinn_Medium.woff2') format('woff2'),
		url('../shared/fonts/Cruinn_Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

html,
body {
	font-family: 'Cruin', sans-serif;
	font-weight: 500;
	min-height: 100%;
}

.wrapper {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
}
.main {
	flex-grow: 1;
}

.container {
	max-width: 100%;
	padding: 0 40px;
	margin: 0 auto;
}

.swiper-button-prev,
.swiper-button-next {
	color: white !important;
}

.burger_btn:before,
.burger_btn:after {
	content: '';
	position: absolute;
	width: 20px;
	background-color: #000;
	height: 2px;
}
.burger_btn {
	top: 10px;
	display: flex;
	align-items: center;
	position: absolute;
	margin-left: 20px;
	weight: 30px;
	height: 30px;
	span {
		position: absolute;
		width: 20px;
		background-color: #000;
		height: 2px;
		top: 14px;
	}
}
.burger_btn:before {
	top: 5px;
	transition: all 0.5s ease-in-out;
}
.burger_btn:after {
	bottom: 5px;
	transition: all 0.5s ease-in-out;
}

.burger_btn span {
	transition: all 0.5s ease-in-out;
}

.burger_btn.active:before {
	transform: rotate(405deg);
	top: 14px;
	width: 25px;
}
.burger_btn.active:after {
	transform: rotate(-405deg);
	bottom: 14px;
	width: 25px;
}
.burger_btn.active span {
	transform: scale(0);
}
@media (max-width: 850px) {
	.container {
		max-width: 100%;
		padding: 0 10px;
		margin: 0 auto;
	}
}
@media (max-width: 768px) {
	.swiper-button-next::after,
	.swiper-button-prev::after {
		font-size: 22px !important;
	}
}
